#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

textarea {
  font-family: inherit;
  resize: none;
}

button,
input[type="submit"],
input[type="reset"] {
  border: thin solid #444;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #eee;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form {
  margin-bottom: 1rem;
}

hr {
  margin: 2rem auto;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  padding: 0.5rem 0;
  margin: 0 0 0.5rem 0;
  display: inline-block;
  color: #444;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

select {
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 100%;
  color: #444;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: thin solid #dedede;
}

@media screen and (min-width: 1024px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }

  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}
.custom-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}